<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>CloudEsiee</servlet-name>
		<servlet-class>com.esiee.CloudEsieeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CloudEsiee</servlet-name>
		<url-pattern>/cloudesiee</url-pattern>
	</servlet-mapping>
	
	<!-- URL -->
	<servlet-mapping>
		<servlet-name>TacheDeFond</servlet-name>
		<url-pattern>/urlTacheDeFond</url-pattern>
	</servlet-mapping>
	
	<!-- Application -->
	<servlet>
		<servlet-name>TacheDeFond</servlet-name>
		<servlet-class>com.esiee.TacheDeFondServlet</servlet-class>
	</servlet>
		
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
